.members {
    background-image: url(../images/back/Wback.png);
    padding-top: 45px;
    padding-bottom: 55px;
}

.members h2{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: "Kaisei Decol", sans-serif;
}

.members h2::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.member-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: scroll;
    font-family: "Yomogi", sans-serif;
}

.member-list li a{
    flex-shrink: 0;
    width:50%;
    margin-left:50px;
    margin-top: 100px;
}

.member-list li:first-child {
    margin-left: 0;
}

@media screen and (max-width: 800px) {
    .member-list {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .member-list li {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .members img{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .members li a{
        margin-left: 125px;
    }
}